

<nav class="navbar main-navbar-color navbar-expand-lg bg-#A6C1A5 main-navbar">
    <div class="container-fluid">

        {# Logo et titre du site #}
        <a class="navbar-brand fs-3" href="{{ path('main_home') }}">
            <img class="img-fluid main-navbar-logo" src="{{ asset('images/home-icons/basket.png') }}" alt="">Epicerie Du Canal
        </a>


        {# Bouton burger #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbarContent" aria-controls="mainNavbarContent" aria-expanded="false" aria-label="Afficher la navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Conteneur principal des boutons #}
        <div class="collapse navbar-collapse" id="mainNavbarContent">



            {# logo de gauche #}
            <ul class="navbar-nav me-auto nav-fill my-2 mb-2 mb-lg-0 col-md-5">

                {# Lien de la page Accueil #}
                <li class="nav-item">
                    <a href="{{ path('main_home') }}" class="nav-link{{ route == 'main_home' ? ' active' }}">
                        <i class="fa-solid fa-shop mx-1"></i>
                        Accueil
                    </a>
                </li>

                {# Lien de la page Nos produits #}
                <li class="nav-item">
                    <a href="{{ path('main_product') }}" class="nav-link{{ route == 'main_product' ? ' active' }}">
                        <i class="fa-solid fa-plate-wheat mx-1"></i>
                        Nos produits
                    </a>
                </li>

                {# Lien de la page tourisme #}
                <li class="nav-item">
                    <a href="{{ path('main_tourism') }}" class="nav-link{{ route == 'main_tourism' ? ' active' }}">
                        <i class="fa-solid fa-shoe-prints mx-1"></i>
                        Tourisme
                    </a>
                </li>

                {# Lien de la page Contact #}
                <li class="nav-item">
                    <a href="{{ path('main_contact') }}" class="nav-link{{ route == 'main_contact' ? ' active' }}">
                        <i class="fa-regular fa-address-card mx-1"></i>
                        Contact
                    </a>
                </li>
            </ul>




            {# boutons de droite #}
            <ul class="navbar-nav ms-auto nav-fill my-2 mb-2 mb-lg-0 col-md-5">


                {# affichage des liens reservés aux utilisateurs connectés et ceux pour les personnes déconnectés ds le else #}
                {% if app.user %}

                {# Menu déroulant #}
                <li class="nav-item dropdown">

                    {# Texte du bouton du menu déroulant #}
                    <a class="nav-link dropdown-toggle text-black" href="#" id="profil-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {# Affichage du pseudonyme de l'utilisateur connecté #}
                        <i class="fas fa-user mx-1"></i>{{ app.user.pseudonym }}
                    </a>

                    {# Liste des liens du menu déroulant #}
                    <div class="dropdown-menu" aria-labelledby="profil-dropdown">

                        {# Lien de la page mon profil #}
                        <a class="dropdown-item" href="{{ path('main_profil') }}"><i class="fas fa-users-cog me-1"></i>Mon Profil</a>

                        {# Séparateur #}
                        <div class="dropdown-divider"></div>

                        {# Lien de la page de déconnexion #}
                        <a class="dropdown-item text-success" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt me-1"></i>Déconnexion</a>

                    </div>

                </li>




                {% else %}
                {# lien page d'inscription #}
                <li class="nav-item">
                    <a href="{{ path('app_register') }}" class="nav-link{{ route =='app_register' ? ' active' }}">
                        <i class="fa-solid fa-user-plus mx-1"></i>Inscription
                    </a>
                </li>

                {# lien page connexion #}
                <li class="nav-item">
                    <a href="{{ path('app_login') }}" class="nav-link{{ route =='app_login' ? ' active' }}">
                        <i class="fa-solid fa-right-to-bracket mx-1"></i>Connexion
                    </a>
                </li>
                {% endif %}



            </ul>


       </div>
    </div>
</nav>

