

<nav class="navbar main-navbar-color navbar-expand-lg bg-#A6C1A5  main-navbar">
    <div class="container-fluid">

        {# Logo et titre du site #}
        <a class="navbar-brand fs-3" href="{{ path('main_home') }}">
            <img class="img-fluid main-navbar-logo" src="{{ asset('images/basket.png') }}" alt="">Epicerie Du Canal
        </a>


        {# Bouton burger #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbarContent" aria-controls="mainNavbarContent" aria-expanded="false" aria-label="Afficher la navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Conteneur principal des boutons #}
        <div class="collapse navbar-collapse" id="mainNavbarContent">

            {# logo de gauche #}
            <ul class="navbar-nav me-auto my-2 mb-2 mb-lg-0 col-md-3 ">
            </ul>


            {# boutons de droite #}
            <ul class="nav navbar-nav nav-fill mb-2 mb-lg-0 col-md-6">

                {# Lien de la page Accueil #}
                <li class="nav-item fs-5">
                    <a href="{{ path('main_home') }}" class="nav-link{{ route == 'main_home' ? ' active' }}">
                        <i class="fa-solid fa-shop mx-1"></i>
                        Accueil
                    </a>
                </li>

                {# Lien de la page Nos produits #}
                <li class="nav-item fs-5">
                    <a href="{{ path('main_product') }}" class="nav-link{{ route == 'main_product' ? ' active' }}">
                        <i class="fa-solid fa-plate-wheat mx-1"></i>
                        Nos produits
                    </a>
                </li>

                {# Lien de la page tourisme #}
                <li class="nav-item fs-5">
                    <a href="" class="nav-link">
                        <i class="fa-solid fa-shoe-prints mx-1"></i>
                        Tourisme
                    </a>
                </li>

                {# Lien de la page Contact #}
                <li class="nav-item fs-5">
                    <a href="" class="nav-link">
                        <i class="fa-regular fa-address-card mx-1"></i>
                        Contact
                    </a>
                </li>




            </ul>






        </div>
    </div>
</nav>

