

{# Footer #}
<footer class="site-footer mt-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-around p-2 flex-wrap navbar nav-underline icon">

                    <a class="nav-link" title=" Facebook (nouvelle fenêtre)" href="https://www.facebook.com/epicerie.ducanal.7" target="_blank">
                        <img class="img-thumbnail" src="{{ asset('images/home-icons/faceboof.png') }}" alt="nouvelle page vers le profil facebook de l'Epicerie Du Canal"></a>

                    <a class="nav-link" title=" se reposer (nouvelle fenêtre)" href="{{ path('main_tourism') }}#shoe" target="_blank">
                        <img class="img-thumbnail" src="{{ asset('images/home-icons/tent.png') }}" alt="nouvelle page vers se reposer"></a>

                    <a class="nav-link" title=" parking à vélo (nouvelle fenêtre)" href="{{ path('main_tourism') }}#bike" target="_blank">
                        <img class="img-thumbnail" src="{{ asset('images/home-icons/bike-parking.png') }}" alt="nouvelle page vers parking à vélo"></a>

                    <a class="nav-link" title=" se restaurer (nouvelle fenêtre)" href="{{ path('main_product') }}#eat" target="_blank">
                        <img class="img-thumbnail" src="{{ asset('images/home-icons/eat.png') }}" alt="nouvelle page vers se restaurer"></a>

                    <a class="nav-link" title=" produits à la coupe (nouvelle fenêtre)" href="{{ path('main_product') }}#fresh" target="_blank">
                        <img class="img-thumbnail" src="{{ asset('images/home-icons/fresh-products.png') }}" alt="nouvelle page vers produits et à la coupe"></a>

                    <a class="nav-link" title=" permis de pêche (nouvelle fenêtre)" href="{{ path('main_tourism') }}#fish" target="_blank">
                        <img class="img-thumbnail" src="{{ asset('images/home-icons/fishing-license.png') }}" alt="nouvelle page vers permis de pêche"></a>

                    <nav class="footer_links">
                             <ul>
                                 <li><a class="text-decoration-none text-black" href="#" title="page des mentions légales">Mentions Légales</a></li>
                                <li><a class="text-decoration-none text-black" href="#" title="page des C.G.U">C.G.U.</a></li>
                            </ul>
                    </nav>

            </div>
        </div>
    </div>
</footer>



