{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title%}Accueil{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

{# Grille Bootstrap #}
<div class="container-fluid">

    {# Titre h1 de la page #}
    <!--Bannière avec titres-->
    <div class="row banner d-flex align-items-center">

        <div class="subtitle text-black text-center col-sm col-md col-lg-6">
            <h1>Emoustillez vos papilles</h1>
        </div>

        <div class="col-9 text-black text-center col-sm-9 col-md col-lg-12">
            <h2>Epicerie Du Canal</h2>
        </div>

        <div class="col text-black text-center col-sm col-lg-12">
            <h3>Produits frais et de qualités</h3>
        </div>

    </div>

    {#section logo de présentations #}

    <section>
        <div class="row">

            <div class="d-flex justify-content-center flex-wrap">

                <div class="m-3 p-3 icon">
                    <a href="https://www.facebook.com/epicerie.ducanal.7" target="_blank">
                    <img class="img-thumbnail" src="{{ asset('images/home-icons/faceboof.png') }}" alt="lien vers le profil facebook de l'Epicerie Du Canal">
                    </a>
                    <h6 class="text-center mt-2 mb-0 fs-6">Facebook</h6>
                </div>

                <div class="m-3 p-3 icon">
                    <a href="{{ path('main_tourism') }}#shoe">
                    <img class="img-thumbnail" src="{{ asset('images/home-icons/tent.png') }}" alt="lien vers la page tourisme">
                    </a>
                    <h6 class="text-center mt-2 mb-0 fs-6">Repos bien mérité</h6>
                </div>


                <div class="m-3 p-3 icon">
                    <a href="{{ path('main_tourism') }}#bike">
                    <img class="img-thumbnail" src="{{ asset('images/home-icons/bike-parking.png') }}" alt="lien vers la page tourisme">
                    </a>
                    <h6 class="text-center mt-2 mb-0 fs-6">Parking à vélo</h6>
                </div>


                <div class="m-3 p-3 icon">
                    <a href="{{ path('main_product') }}#eat">
                    <img class="img-thumbnail" src="{{ asset('images/home-icons/eat.png') }}" alt="lien vers la page nos produits">
                    </a>
                    <h6 class="text-center mt-2 mb-0 fs-6">Se restaurer</h6>
                </div>


                <div class="m-3 p-3 icon">
                    <a href="{{ path('main_product') }}#fresh">
                    <img class="img-thumbnail" src="{{ asset('images/home-icons/fresh-products.png') }}" alt="lien vers la page nos produits">
                    </a>
                    <h6 class="text-center mt-2 mb-0 fs-6">Produits frais et à la coupe</h6>
                </div>


                <div class="m-3 p-3 icon">
                    <a href="{{ path('main_tourism') }}#fish">
                    <img class="img-thumbnail" src="{{ asset('images/home-icons/fishing-license.png') }}" alt="lien vers la page tourisme">
                    </a>
                    <h6 class="text-center mt-2 mb-0 fs-6">Permis de pêche</h6>
                </div>


            </div>
        </div>
    </section>

</div>




{% endblock %}