{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title%}Mon profil{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">
        {# cards de titre et présentation #}
        <div class="card col-12 col-lg-7 mx-auto my-5 p-3 ">
            <div class="card-header text-center ">
                <h1 class="fs-4"><i class="fa-regular fa-address-card mx-1"></i>Profil</h1>
            </div>
        </div>


        {# card de la personne connectée #}
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="row">

                    <div class="card mb-3 mx-auto" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <img class="img-thumbnail" src="{{ asset('images/profil.png') }}" alt="devanture de l'épicerie du canal">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <ul class="text-xl-start">
                                        <li class="list-group-item">Adresse Email : <span class="fw-bold fs-5">{{ app.user.email }}</span></li>
                                        <li class="list-group-item">Pseudonyme : <span class="fw-bold fs-5">{{ app.user.pseudonym }}</span></li>
                                        <li class="list-group-item">Date d'inscription : <span class="fw-bold fs-5">{{ app.user.registrationDate | date('d/m/y à H\\hi') }}</span></li>
                                        <li class="list-group-item">Compte : <span class="fw-bold fs-5">{{ is_granted('ROLE_ADMIN') ? 'administrateur' : 'utilisateur'}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}