{# Utilisation du squelette "base.html.twig" #}
{% extends "base.html.twig" %}

{# Définition du titre de la page #}
{% block title%}Tourisme{% endblock %}

{# Remplissage du body de la page #}
{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# cards de titre et lien page d'accueil: logo+accroche#}
        <div class="card col-md-10 mx-auto my-5 p-3 ">
            <div class="card-header text-center ">
                <h1 class="fs-4"><i class="fa-solid fa-shoe-prints mx-1"></i>Tourisme</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="d-flex justify-content-center flex-wrap
">
                        <img class="img-thumbnail" id="shoe" src="{{ asset('images/home-icons/tent.png') }}" alt="tente">
                        <p class="align-self-center m-4">Venez profiter d'un repos bien mérité dans un terrain privé de 100m²; avec sanitaires.</p>

                        <img class="img-thumbnail" id="bike" src="{{ asset('images/home-icons/bike-parking.png') }}" alt="lien vers parking à vélo">
                        <p class="align-self-center m-4">Garages a vélos sécurisés.</p>

                        <img class="img-thumbnail" id="fish" src="{{ asset('images/home-icons/fishing-license.png') }}" alt="pêche">
                        <p class="align-self-center m-4">Achetez votre permis de pêche et quelques appâts.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <a href="https://www.creusotmontceautourisme.fr/" target="_blank">
                <img src="{{ asset('images/Euro-Velo-6.jpg') }}" alt="logo de l'euroVélo 6">
                </a>

                <p class="mx-auto"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi delectus nam necessitatibus sit! Ad asperiores assumenda consectetur consequuntur cupiditate dolor exercitationem iste, laudantium magnam nisi omnis temporibus unde ut vitae?</span><span>A animi asperiores corporis dignissimos dolorum eos excepturi, fugiat illum inventore ipsam iusto laudantium magnam, minus natus nulla quaerat quas qui repellat reprehenderit rerum sint sit tempore tenetur vel veritatis.</span><span>Adipisci doloribus, id impedit ipsum quidem ullam? Adipisci alias consectetur culpa cum deserunt dolor eaque et explicabo impedit, ipsa iure, labore nam nemo officiis porro quasi quidem sequi, vel veritatis.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col py-3">

                    <img src="{{ asset('images/ecuisses.jpg') }}" alt="photo du canal du centre">

                    <p class="mx-auto lh-base"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aspernatur at delectus ea facilis fugiat labore, laborum laudantium libero quibusdam quod saepe vel voluptate voluptatibus! Delectus laboriosam porro repellendus.</span><span>Asperiores at, autem culpa cumque dolorum eaque enim eos expedita illum ipsa ipsam magnam minus nemo nulla odit perferendis porro provident quasi quidem ratione repudiandae sed, tenetur veniam veritatis voluptate.</span><span>Aperiam aspernatur assumenda, atque aut beatae consequuntur, cupiditate dignissimos dolor est explicabo impedit laboriosam laudantium mollitia nobis nulla numquam obcaecati pariatur provident quos recusandae repellat sequi sint tempora ut vitae?</span><span>Facilis fuga ipsum nam nesciunt praesentium quidem recusandae! Amet, blanditiis corporis deleniti dicta nam quis ratione suscipit! Amet consequatur eligendi enim eos, explicabo molestias nihil nulla odio pariatur tempora, tenetur.</span><span>Adipisci commodi incidunt maiores odit rem. Aliquam blanditiis cupiditate dolore eaque est hic, impedit nemo nihil perferendis quos suscipit tenetur voluptatum. Ab accusamus accusantium cumque facere libero nostrum nulla totam!</span><span>Adipisci aspernatur consequatur delectus distinctio dolor enim error explicabo, hic libero, modi molestiae obcaecati odit perferendis placeat sequi sint, voluptate? Cum dolorum facere laborum nemo perferendis, vel! Debitis, ducimus minus?</span><span>Hic natus quam recusandae tempore. Alias aperiam assumenda consequatur deserunt ducimus eligendi est illo ipsam iure laboriosam, laborum modi nihil omnis pariatur perspiciatis quaerat quia quibusdam quos ratione tempore, unde.
                    </p>
            </div>
        </div>
    </div>

{% endblock %}